<a href="https://colab.research.google.com/github/umekulsum23/DAV2015/blob/main/Basic_operation_of_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
a=np.array([1,2,3])

print("1D array: ")
print("Shape: ",a.shape)
print("Size: ",a.size)
print("Dimenssion: ",a.ndim)
print("Length: ",len(a))

b=np.array([[1,2,3,4],[2,4,6,8]])

print("\n2D array: ")
print("Shape: ",b.shape)
print("Size: ",b.size)
print("Dimenssion: ",b.ndim)
print("Length: ",len(b))

c=np.array([[1,2,3,4,5],[2,4,6,8,10],[3,6,9,12,15]])

print("\n3D array: ")
print("Shape: ",c.shape)
print("Size: ",c.size)
print("Dimenssion: ",c.ndim)
print("Length: ",len(c))

1D array:
Shape:  (3,)
Size:  3
Dimenssion:  1
Length:  3

2D array:
Shape:  (2, 4)
Size:  8
Dimenssion:  2
Length:  2

3D array:
Shape:  (3, 5)
Size:  15
Dimenssion:  2
Length:  3

In [ ]:
#arrange function
odd_numbers=np.arange(-29,11,2)
print("Array of odd numbers between -30 and 10:",odd_numbers)

Array of odd numbers between -30 and 10: [-29 -27 -25 -23 -21 -19 -17 -15 -13 -11  -9  -7  -5  -3  -1   1   3   5
   7   9]

In [ ]:
#random value for 30 student and if the value is above 30 print how many are above 30
a= np.random.randint(0, 101, 30)

b=np.sum(a>=30)
c=np.sum(a<30)
print("Number of students above 30: ",b)
print("Number of students failed: ",c)

Number of students above 30:  25
Number of students failed:  5